{{ define "main" }}
<main>
{{ .Content }}
<ul>
  {{ range .Pages }}
  <li>
    <a href="{{ .Permalink }}">
      <time>{{ dateFormat "2 January 2006 15:04 MST" .Date }}</time> &mdash; {{ .Title }}
    </a>
  </li>
  {{ end }}
</ul>
</main>
{{ end }}
