{{ define "main" }}
<main>
  <header>
    {{ with .Params.author }}
    <p>By {{ . }}</p>
    {{ else }}
    <p>By: {{ .Site.Params.Author }}</p>
    {{ end }}
    <p>Published <time>{{ dateFormat "2 January 2006 15:04 MST" .Date }}</time></p>
    {{ if ne .Lastmod .Date }}
    <p>Last updated <time>{{ dateFormat "2 January 2006 15:04 MST" .Lastmod }}</p>
    {{ end }}
  </header>
{{ .Content }}
</main>
{{ end }}
