/* default.css */
/* Modern responsive design styling. */

*, *::before, *::after {
    /* The better box model. */
    box-sizing: border-box;
}

html {
    --light-paper-color: #fff5cb;
    --light-ink-color: #313379;
    --light-theme-color: #8b1e0d;
    --light-shadow-color: rgba(61, 61, 61, 0.65);
    --light-backshade-color: rgba(255, 255, 255, 0.3);

    font-family: "Source Serif Pro", "Georgia", serif;
    font-size: large;
    color: var(--light-ink-color);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background: linear-gradient(var(--light-backshade-color), var(--light-backshade-color)),
                url("/image/galvanized_steel_tile.jpg") #aeaeae;
    background-size: 100vw;
}

a {
    color: var(--light-theme-color);
}

header {
    display: flex;
}

header nav * {
    margin: 0;
}

header .site-logo-box {
    padding: 1vw;

    background-color: var(--light-paper-color);
    box-shadow: 1vmax 1vmax 0.25vmax var(--light-shadow-color);
}

header .site-logo-box svg {
    height: auto;
    width: 8vw;
}

.site-logo-box svg circle {
    fill: var(--light-ink-color) !important;
}

.site-logo-box svg path {
    stroke: var(--light-ink-color) !important;
}

.site-logo-box svg rect {
    fill: var(--light-ink-color) !important;
}

header, footer {
    flex-shrink: 0;
    margin: 1vh 1%;

    text-shadow: 0.2em 0.2em 0.2em var(--light-shadow-color);
}

header > *, footer > * {
    margin: 0 1vw;
}

main {
    flex: 1 0 auto;
    margin: 1vh 15% 1vh 5%;
    padding: 2em;

    background-color: var(--light-paper-color);
    box-shadow: 2vmax 2vmax 0.50vmax var(--light-shadow-color);
}

main h2 {
    margin: 1.2em 0;
}

main *:first-child {
/* Prevent extra whitespace at the top of the box. Padding of main
   should be sufficient. */
    margin-top: 0;
}

main *:last-child {
/* Prevent extra whitespace at the bottom of the box as well. */
    margin-bottom: 0;
}

@media only screen and (min-width: 1224px) {
/* Desktops */
    body {
        /* Improves the tiling: background gets grainy on large screens. */
        background-size: 50vw;
    }

    header {
        margin: 2vh 5%;
    }

    main {
        margin: 2vh 40% 2vh 10%;

	box-shadow: 1vmax 1vmax 0.25vmax var(--light-shadow-color);
    }

    footer {
	margin: 2vh 5%;
    }
}

@media (prefers-color-scheme: dark) {
    /* Browser- or OS-level setting to toggle dark mode. */
    html {
        --dark-ink-color: #d6d6d6;
        --dark-paper-color: #1a1a1a;
        --dark-theme-color: #03f323;

        color: var(--dark-ink-color);
    }

    body {
        background: var(--dark-paper-color);
    }

    a {
        color: var(--dark-theme-color);
    }

    header, footer {
        text-shadow: initial;
    }

    header .site-logo-box {
        background-color: inherit;
        box-shadow: initial;
    }

    .site-logo-box svg circle {
        fill: var(--dark-ink-color) !important;
    }

    .site-logo-box svg path {
        stroke: var(--dark-ink-color) !important;
    }

    .site-logo-box svg rect {
        fill: var(--dark-ink-color) !important;
    }

    main {
        background-color: inherit;
        box-shadow: initial;
        text-shadow: initial;
    }
}
